<!DOCTYPE html>
<html lang="pt">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleção de Cotas</title>
  </head>
  <body>
    <div class="form-group ml-2"></div>
    <h1>Sistema de Seleção de Cotas</h1>
    </div>
    <div class="form-group ml-2">
      <form method="POST" action="/resultado">
        <div class="form-group">
          <label for="curso">Curso:</label>
          <select class="form-control w-auto" id="curso" name="curso">
            <option>Técnico em Administração</option>
            <option>Técnico em Informática</option>
            <option>Licenciatura em Letras Português/Inglês</option>
            <option>Licenciatura em Matemática</option>
            <option>Tecnologia em Análise e Desenvolvimento de Sistemas</option>
            <option>Tecnologia em Processos Gerenciais</option>
          </select>
        </div>
        <div class="form-group">
          <label for="tipo_escola">Tipo de Escola:</label>
          <select
            class="form-control w-auto"
            id="tipo_escola"
            name="tipo_escola"
          >
            <option>pública</option>
            <option>privada</option>
          </select>
        </div>
        <div class="form-group">
          <label for="renda_familiar">Renda Familiar:</label>
          <select
            class="form-control w-auto"
            id="renda_familiar"
            name="renda_familiar"
          >
            <option>inferior</option>
            <option>superior</option>
          </select>
        </div>
        <div class="form-group">
          <label for="autodeclaracao">Autodeclaração:</label>
          <select
            class="form-control w-auto"
            id="autodeclaracao"
            name="autodeclaracao"
          >
            <option>nenhum</option>
            <option>negro</option>
            <option>preto</option>
            <option>pardo</option>
            <option>indígena</option>
            <option>quilombola</option>
            <!-- Adicione mais opções conforme necessário -->
          </select>
        </div>
        <div class="form-group">
          <label for="pcd">Você é PcD?</label>
          <select class="form-control w-auto" id="pcd" name="pcd">
            <option>não</option>
            <option>sim</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>
    </div>
  </body>
</html>
